{% extends 'base.html' %}
{% load static %}

{% block title %}
    Создание категории пресетов
{% endblock title %}



{% block product %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <h1>Изменить</h1>


    <form class="form-group" id="add_preset" method="post" action="{% url 'update_merchan' merchan.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        Изменить пресет
        <a href="{% url 'product_homepage' %}">Назад</a>

        {% for field in  merchan_form %}

            <p>
                {{ field.label_tag }} {{ field }}
            </p>
        {% endfor %}

            <input id="submit" type="submit" value="Send" class="site-btn">
            <input type="reset" value="Clear" class="site-btn">

    </form>

{% endblock product %}
