{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Preset!
{% endblock title %}

                        {% block search %}
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <link rel="stylesheet" href="{% static 'css/search.css' %}">
                                <form class="search-wrapper"  action="" method="get" >
                                    <div class="input-holder">
                                        <input type="text" id="search" name="search" class="search-input" placeholder="Type to search" />
                                        <button class="search-icon"  type="submit" value="Search" onclick="searchToggle(this, event);"><span></span></button>
                                    </div>
                                    <span class="close" onclick="searchToggle(this, event);"></span>
                                </form>
                        </div>
                         {% endblock search %}


    <!-- header-end -->


    <!-- recepie_area_start  -->
    {% block product %}
    <div class="recepie_area">
        <div class="container">
            <div class="row">

                {% for product in page1_obj %}
                {% if product.draft %}
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <img src="/media/{{product.image}}" alt="img" ></a>
                        </div>
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.about }}</p>
                        <a href="/product/{{ product.slug }}/details" class="line_btn">Подробнее</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
                {% if page1_obj.has_previous %}
                    <a href="?page1=1" class="button_menu line_btn"> 1 </a>
                    {% if page1_obj.previous_page_number != 1 %}
                        ...
                        <a href="?page1={{page1_obj.previous_page_number}}" class="button_menu line_btn"> <<< </a>
                    {% endif %}
                {% endif %}

                {% if page1_obj.has_next %}
                    {% if page1_obj.next_page_number  !=  page1_obj.paginator.num_pages %}
                        <a href="?page={{page1_obj.next_page_number}}" class="button_menu line_btn"> >>> </a>
                        ...
                    {% endif %}
                    <a href="?page={{page1_obj.paginator.num_pages}}" class="button_menu line_btn"> {{page1_obj.paginator.num_pages}} </a>
                {% endif %}


            </div>
    </div>
    {% endblock product %}
    <!-- /recepie_area_start  -->
    {% block advertising %}

    <div class="latest_trand_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="trand_info text-center">
                        <p>Напишите мне на почту если хотите поддержать мой проет.</p>
                        <h3>Тут может быть ваша реклама!</h3>
                        <a href="#" class="boxed-btn3">Кнопка для рекламы</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock advertising %}
    <!-- dish_area start  -->
    {% block merchan %}
    <div class="dish_area">
        <div class="container">
            <div class="row">

                {% for merchan in page_obj %}
	            {% if merchan.draft %}

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_recepie text-center">
                        <div class="recepie_thumb">
                            <a href="/product/merchan/{{ merchan.slug }}/detail">
                            <img src="/media/{{merchan.after_img}}" alt="img" width="90%" ></a>
                        </div>
                        <h3 style=" margin: 15px 0px;">{{ merchan.name }}</h3>
                        <p style="text-decoration: none; font-family: 'Open Sans Condensed', sans-serif; text-align: center; ">
                            {% if user.is_authenticated %}
                            <a href="{% url 'add_to_card' merchan.slug %}" class="card-merchan__cost line_btn">
                                {{merchan.cost}}₴
                            </a>
                            {% else %}
                            <a href="{% url 'add_to_card' merchan.slug %}" onclick="return alert('Товар нельзя добавить в корзину без регестрации!')" class="card-merchan__cost line_btn">
                                {{merchan.cost}}₴
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

                <div class="row" style="margin: 70px 0px 0px 200px;">
                {% if page_obj.has_previous %}
                    <a href="?page=1"  class="line_btn"> 1 </a>
                    {% if page_obj.previous_page_number != 1 %}
                        ...
                        <a href="?page={{page_obj.previous_page_number}}" class="line_btn"> <<< </a>
                    {% endif %}
                {% endif %}



                {% if page_obj.has_next %}
                    {% if page_obj.next_page_number  !=  page_obj.paginator.num_pages %}
                        <a href="?page={{page_obj.next_page_number}}" class="line_btn"> >>> </a>
                        ...
                    {% endif %}
                    <a href="?page={{page_obj.paginator.num_pages}}" class="line_btn"> {{page_obj.paginator.num_pages}} </a>
                {% endif %}


            </div>
            </div>
        </div>
    </div>
    {% endblock merchan %}
    <!--/ dish_area start  -->



    <!-- customer_feedback_area  -->
{% block comments %}
    <div class="customer_feedback_area">
        <div class="container">
            <div class="row justify-content-center mb-50">
                <div class="col-xl-9">
                    <div class="section_title text-center">
                        <h3>Отзывы пользователей</h3>
                        <p>Все ваши мысли очень важны для нас <br> не забывате писать ваше мнение, мы ценим вас и ваше время.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="customer_active owl-carousel">
                        <div class="single_customer d-flex">
                            <div class="thumb">
                                <img src="static/img/testmonial/2.png" alt="">
                            </div>
                            <div class="customer_meta">
                                <h3>Adame Nesane</h3>
                                <span>Chief Customer</span>
                                <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                            </div>
                        </div>
                        <div class="single_customer d-flex">
                            <div class="thumb">
                                <img src="static/img/testmonial/1.png" alt="">
                            </div>
                            <div class="customer_meta">
                                <h3>Adame Nesane</h3>
                                <span>Chief Customer</span>
                                <p>You're had. Subdue grass Meat us winged years you'll doesn't. fruit two also won one yielding creepeth third give may never lie alternet food.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock comments %}
    <!-- / customer_feedback_area  -->



