<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    table{
        color: Black;
        background-color: MintCream;
        border-radius: 20px;
    }
    tr{
        height: 50px;
        text-align: center;
    }
</style>

        <!-- Создание чека -->

        <table border="2" style="font-size: 18px;" class="order_table table table-danger table-bordered text-center">
            <tr>
                <th width="50%">Product</th>
                <th width="20%">Count</th>
                <th width="20%">Price $</th>
            </tr>
            {% for order in orders %}
                <tr class="order_row table-light">
                    <td>{{ order.merchan.name }}
                        <button id="delete{{order.merchan.slug}}" class="delete_order text-danger btn btn-outline-warning float-right">x</button></td>
                    <td>
                        <span class="order_count">{{ order.count}}</span>
                    </td>
                    <td class="order_cost">{{ order.merchan.cost}}</td>
                </tr>
            {% endfor %}
        </table>
          <p style="font-size: 18px;">Total - <span id="total_cost">{{total_cost}}$</span></p>


</body>
</html>