{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block product %}
{% csrf_token %}

{{ report }}
{% if user.is_authenticated %}
<h1>Привет {{ user.username }}!</h1>
{% else %}
<h1>You are not logged in.</h1>
<a href="{% url 'login-page'  %}">Войти в профиль</a>
{% endif %}
<div class="col-xl-10">
    <div class=" text-right">
<p>
        <img alt="preset logo"
         src="https://cdn2.sportngin.com/attachments/call_to_action/6111/4201/icon-coaching_large.png"
         width="6%">
        <a href="{% url 'create_order'  %}">Стол ваших заказов</a>
    </p>
    <p>
        <img alt="preset logo"
         src="https://library.hud.ac.uk/webpages/img/icons/document.png"
         width="6%">
        <a href="{% url 'login-page'  %}">Список пожеланий</a>
    </p>
    <p>
        <img alt="preset logo"
         src="https://www.flaticon.com/svg/static/icons/svg/2089/2089768.svg"
         width="6%">
        <a href="{% url 'questions_answer'  %}">Вопросы и ответы</a>
    </p>
    </div>
    </div>

{% endblock product %}


